h6 {
  @extend .text-uppercase;
  @extend .font-weight-bold;
  @extend .pt-2;
  @extend .mb-3;
  color: $tint-color;
}

.main-content {
  @extend .py-5;
  a {
    text-decoration: underline;
  }
}

.brand--accent {
  color: $tint-color;
}

.about__item {
  @extend .mb-4;
}

.about__item-heading {
  @extend .font-weight-bold;
}

.about__item-heading--light {
  @extend .font-weight-light;
}

.contact {
  @extend .text-muted;
  font-size: $font-size-base * 0.9;
  a {
    @extend .text-muted;
    text-decoration: none;
  }
}

.books__list {
  @extend .list-unstyled;
  li {
    @extend .mb-4;
  }
}

.bools__read-item-year {
  @extend .font-weight-bold;
  @extend .mb-3;
}
