---
layout: default
---
<div class="about">

  <div class="about__item">
    {{ content }}
    {% if site.data.about.introduction %}
    <p>
      {{ site.data.about.introduction | escape }}
    </p>
    {% endif %}
  </div>

  {% assign experience = site.data.about.experience %}
  {% if experience %}
  <div class="about__item-wrapper">
    <h6>Experience</h6>
    {% for exp in experience %}
    <div class="about__item">
      <div class="row about__item-heading">
        <div class="col-sm">
          <div>
            <span>{{ exp.title | escape }}<span>
            {%- if exp.company -%}
            <span>{{ exp.company | escape | prepend: ', ' }}<span>
            {%- endif -%}
            {%- if exp.location -%}
            <span class="about__item-heading--light">{{ exp.location | escape | prepend: " &ndash; " }}</span>
            {%- endif -%}
          </div>
        </div>
        <div class="col-sm">
          <div class="text-sm-right">
            {{ exp.period_from | escape }}
            {%- if exp.period_to -%}
              {{ exp.period_to | escape | prepend: " &ndash; " }}
            {%- endif -%}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul class="list-unstyled">
            {% for item in exp.items %}
            <li>{{ item | escape }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% assign projects = site.data.about.projects %}
  {% if projects %}
  <div class="about__item-wrapper">
    <h6>Projects</h6>
    {% for proj in projects %}
    <div class="about__item">
      <div>
        {%- if proj.link -%}
        <a href="{{ proj.link }}">
        {%- endif -%}
          <span>{{ proj.name | escape }}</span>
        {%- if proj.link -%}
        </a>
        {%- endif -%}
        {%- if proj.description -%}
        <span>{{ proj.description | prepend: ': ' }}</span>
        {%- endif -%}
      </div>
      <ul class="list-unstyled">
        {% for item in proj.items %}
        <li>{{ item | escape }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% assign education = site.data.about.education %}
  {% if education %}
  <div class="about__item-wrapper">
    <h6>Education</h6>
    {% for edu in education %}
    <div class="about__item">
      <div class="row about__item-heading">
        <div class="col-sm">
          {{ edu.name | escape }}
        </div>
        <div class="col-sm">
          <div class="text-sm-right">
            {{ edu.year | escape }}
          </div>
        </div>
      </div>
      <ul class="list-unstyled">
        {% if edu.institution %}
        <li>{{ edu.institution | escape }}</li>
        {% endif %}
        {% for item in edu.items %}
        <li>{{ item | escape }}</li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>
  {% endif %}
  {% assign skills = site.data.about.skills %}
  {% if skills %}
  <div class="about__item-wrapper">
    <h6>Skills</h6>
    <div class="about__item">
      {% if skills.strong %}
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2">Strong: </div>
        <div class="col">{{ skills.strong | join: ", " }}</div>
      </div>
      {% endif %}
      {% if skills.knowledgeable %}
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2">Knowledgeable: </div>
        <div class="col">{{ skills.knowledgeable | join: ", " }}</div>
      </div>
      {% endif %}
      {% if skills.learning %}
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2">Learning: </div>
        <div class="col">{{ skills.learning | join: ", " }}</div>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}
  <div class="about__item-wrapper">
    <h6>Interests</h6>
    Programming, <a href="{{ "/books" | relative_url }}">Reading</a>, Learning Japanese, Gaming, Running
  </div>
</div>
